[Service]
Environment="DEBUG=False"
WorkingDirectory=/opt/star-burger/
ExecStart=/opt/star-burger/venv/bin/gunicorn -w 3 -b 127.0.0.1:8080 star_burger.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target